[submodule "api"]
	path = project/api
	url = https://github.com/Aquachurch/api.powerfulyang.com.git
[submodule "homepage"]
	path = project/home
	url = https://github.com/Aquachurch/powerfulyang.com.git
[submodule "admin"]
	path = project/admin
	url = https://github.com/Aquachurch/admin.powerfulyang.com.git
