[submodule "api"]
	path = project/api
	url = git@github.com:powerfulyang/api.powerfulyang.com.git
	branch = master
[submodule "homepage"]
	path = project/home
	url = git@github.com:powerfulyang/powerfulyang.com.git
	branch = master
[submodule "admin"]
	path = project/admin
	url = git@github.com:powerfulyang/admin.powerfulyang.com.git
	branch = master

