[submodule "api"]
	path = project/api
	url = git@github.com:powerfulyang/api.powerfulyang.com.git
	branch = master
[submodule "homepage"]
	path = project/home
	url = git@github.com:powerfulyang/powerfulyang.com.git
	branch = master
[submodule "components"]
	path = packages/components
	url = git@github.com:powerfulyang/components.git
	branch = master
[submodule "node-utils"]
	path = packages/node-utils
	url = git@github.com:powerfulyang/node-utils.git
	branch = master
[submodule "utils"]
	path = packages/utils
	url = git@github.com:powerfulyang/utils.git
	branch = master
[submodule "lint"]
	path = packages/lint
	url = git@github.com:powerfulyang/lint.git
	branch = master
[submodule "hooks"]
	path = packages/hooks
	url = git@github.com:powerfulyang/hooks.git
	branch = master
